body {
    background-color: rgb(249, 242, 242);
}

h2 {

}

p {
}

label {
    display: block;
}

input {
    color: #1f1b16;
    padding: 16px;
    margin: 16px;
    overflow: visible;
    width: 64%;
    border-radius: 4px;
    box-shadow: #1f1b1699 0 0 0 1px;
    border: none;
    font-size: 18px;
    outline: none;
    background: none;
    transition: all 0.64s;
}
input[type='text']:after{
    display: block;
    position: absolute;
    content: "通行证名称";
    font-size: 16px;
    height: 16px;
    width: 16px;
    z-index: 99;
}
input[type='text'], input[type='password']{
    display: block;
}
input[type='text']:focus, input[type='password']:focus {
    color: #d4a871;
    box-shadow: #1f1b1699 0 0 0 2px;
}

input:placeholder-shown {
    color: black;
}

input::placeholder {
    display: none;
}

input[type='submit'] {
    background-color: #845400;
    color: rgb(255, 251, 255);
    cursor: pointer;
    width: 40%;
    height: 48px;
    padding: 0;
    border-radius: 24px;
    border: none;
}

input[type='submit']:focus {
    box-shadow: rgba(212, 168, 113, .72) 0 0 0 3px;
}

a {
    color: #1f1b16;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    text-decoration: underline
}

a:nth-last-of-type(n+1) {
    margin-top: 3vh;
}

#background {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #1f1b16;
    text-align: left;
    margin: 16vh 10vw;
    padding: 48px;
    background-color: rgb(255, 251, 255);
    background-size: auto 100%;
    background-position: -90%;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, .02) 0 0 24px;
    border-radius: 6vh;
}

#background *:last-child {
    margin-bottom: 5vh;
}

.navbar {
    height: 10vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: #ededed 2px solid;
}

#logo {
    content: url("../images/account/logo.svg");
    height: 42px;
    padding: 16px;
}

#title {
    font-size: 42px;
    line-height: 48px;
    padding: 16px;
    margin: 0;
}

footer {
    padding-top: 24px;
    padding-left: 24px;
    margin: 0;
    bottom: 0;
    display: block;
    position: fixed;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: none;
}

.loader div {
    content: '';
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 27px);
    background-color: white;
    animation: 3s loading infinite ease-in-out;
}

.loader div:nth-child(2) {
    opacity: 0.9;
    animation-delay: calc(0.1s);
    filter: blur(1px);
}

.loader div:nth-child(3) {
    opacity: 0.8;
    animation-delay: calc(0.2s);
    filter: blur(2px);
}

.loader div:nth-child(4) {
    opacity: 0.7;
    animation-delay: calc(0.3s);
    filter: blur(3px);
}

.loader div:nth-child(5) {
    opacity: 0.6;
    animation-delay: calc(0.4s);
    filter: blur(4px);
}

.loader div:nth-child(6) {
    opacity: 0.5;
    animation-delay: calc(0.5s);
    filter: blur(5px);
}

@keyframes loading {
    0%, 100% {
        left: calc(50% - 54px);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        left: calc(50% + 54px);
    }
    75% {
        transform: rotateY(-90deg);
    }
}