/*界面元素动画*/
@keyframes screenMove {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 2px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes loader {
    0% {
        filter: blur(0);
        transform: scale(1) rotate(0);
    }
    50% {
        filter: blur(6px);
        transform: scale(3) rotate(30deg);
    }
    100% {
        filter: blur(0);
        transform: scale(1) rotate(0);
    }
}

@keyframes startGame {
    0% {
        bottom: -10rem;
        opacity: 0;
    }
    100% {
        opacity: 1;
        bottom: 1rem;
    }
}

@keyframes flipBack {
    from {
        background-image: none;
        width: calc(680px - 52px);
        transform: rotateY(-180deg);
    }
    to {
        background-image: url("../images/interface/adventure.svg");
        width: 160px;
        transform: rotateY(0);
    }
}

@keyframes flip {
    from {
        width: 160px;
        transform: rotateY(180deg);
    }
    to {
        width: calc(680px - 52px);
        transform: rotateY(0);
    }
}

@keyframes levelDisplay {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: auto;
    }
}

@keyframes townDisplay {
    from {
        opacity: 0;
        left: 200px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes upgradeOutcome {
    from {
        top: 120px;
    }
    to {
        top: 30px;
    }
}

@keyframes hugewave {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    70% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes finalwave {
    0% {
        opacity: 0;
        top: calc(300px - 42px - 60px);
    }
    40% {
        opacity: 1;
        top: calc(300px - 42px + 10px);
    }
    50% {
        opacity: 1;
        top: calc(300px - 42px - 10px);
    }
    60% {
        opacity: 1;
        top: calc(300px - 42px + 5px);
    }
    70% {
        opacity: 1;
        top: calc(300px - 42px - 5px);
    }
    100% {
        opacity: 1;
        top: calc(300px - 42px);
    }
}

@keyframes defeat_1 {
    0% {
        top: -345px;
        transform: scaleX(0.6);
    }
    60% {
        top: -135px;
        transform: scaleX(1.2);
    }
    100% {
        top: -45px;
        transform: scaleX(1);
    }
}

@keyframes defeat_2 {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: 233px;
    }
}

/*
老鼠动画
*/
/*老鼠被掀翻动画*/
.overturned {
    animation: overturned 1s infinite linear;
}

.rapidRotate {
    /*animation: overturned 0.64s infinite linear;*/
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

@keyframes overturned {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.store_purchase {
    top: 0;
    position: fixed;
    width: var(--window_width);
    height: var(--window_height);
    z-index: 9999;
    text-align: center;
    transition: all .32s;
}

.store_purchase div:before{
    content: "";
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 54px;
    height: 36px;
    background-image: url("../images/interface/shopping.svg");
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(250,241,244);
    border-radius: 18px;
}

.store_purchase div {
    position: absolute;
    background-color: #fffbff;
    display: block;
    bottom: 24px;
    left: 24px;
    margin: 0;
    width: 300px;
    color: var(--outline);
    padding: 12px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .12) 0 12px 24px;
    animation: purchase 0.48s ease-in-out;
}

.store_purchase div img {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto auto 36px auto;
    border-radius: 10px;
    box-shadow: rgb(250,241,244) 0 0 0 4px;
}

.store_purchase div h2 {
    font-size: 24px;
    font-weight: 400;
}

.store_purchase div button {
    position: absolute;
    display: inline-block;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: contain;
    padding: 0 12px 0 42px;
    height: 32px;
    bottom: 20px;
    right: 20px;
    border-radius: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .32s;
}

.store_purchase div button:hover {
    padding: 8px 27px;
    color: rgba(0, 0, 0, 0);
    background-position: center;
    transform: scale(1.04, 1.08);
}

.store_purchase div p {
    text-align: left;
    padding: 12px 12px 12px 36px;
    border-radius: 24px;
    position: relative;
    top: 12px;
    left: 4px;
    font-size: 16px;
    width: calc(100% - 56px);
    background-color: var(--main_color);
    font-weight: 600;
    line-height: 100%;
    color: white;
    box-shadow: rgb(250,241,244) 0 0 0 4px;
}

.store_purchase div p::after {
    position: absolute;
    content: "";
    top: 0;
    left: 8px;
    height: 100%;
    width: 24px;
    background-image: url("../images/interface/coin.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
}
@keyframes purchase {
    0% {
        opacity: 0;
        transform: scale(0.72);
        bottom: -76px;
    }
    50% {
        transform: scale(1);
        opacity: 1;
        bottom: 54px;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        bottom: 24px;
    }
}

@keyframes purchaseRemove {
    0% {
        opacity: 1;
        bottom: 24px;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.72);
        bottom: -76px;
    }
}

.collect {
    width: 86px;
    height: 86px;
    object-fit: none;
    object-position: 0;
    content: url("../images/items/collect.png");
    animation: collect 0.6s forwards step-start;
}

@keyframes collect {
    0%, 16.7% {
        object-position: 0;
    }
    33.4% {
        object-position: -86px;
    }
    50.0% {
        object-position: -172px;
    }
    66.8% {
        object-position: -258px;
    }
    83.5% {
        object-position: -344px;
    }
    100% {
        object-position: -516px;
    }
}

.rope {
    position: absolute;
    top: -2px;
    width: 4px;
    height: 0;
    border: rgba(0, 0, 0, 0.8) solid 1px;
    background-image: linear-gradient(to left, #F1B152, #452121);
    border-radius: 1px;
}

.sign {
    width: 62px;
    height: 60px;
    object-fit: none;
    object-position: 0;
    content: url("../images/mice/roguemouse/sign.png");
    animation: sign 1.2s forwards step-start;
}

@keyframes sign {
    0%, 100% {
        object-position: 0;
    }
    8.3% {
        object-position: -62px;
    }
    16.6% {
        object-position: -124px;
    }
    24.9% {
        object-position: -186px;
    }
    33.2% {
        object-position: -248px;
    }
    41.5% {
        object-position: -310px;
    }
    49.8% {
        object-position: -372px;
    }
    58.1% {
        object-position: -434px;
    }
    66.4% {
        object-position: -496px;
    }
    74.7% {
        object-position: -558px;
    }
    83% {
        object-position: -620px;
    }
    91.3% {
        object-position: -682px;
    }
}