<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>leisure account</title>
    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
{#<div class="navbar">#}
{#    <div id="logo"></div>#}
{#</div>#}

<div class="background" id="background">
    <div>
        <div id="logo"></div>
        <h2 id="title">登录</h2>
    </div>

    <form>
        <label>
            <input type="text" name="username" placeholder="通行证名称" required pattern="[0-9a-zA-Z]+" autofocus>
            <input type="password" name="password" placeholder="密码" required pattern="[0-9a-zA-Z]+">
            <a>创建通行证</a> <input formmethod="post" type="submit" value="登录">
        </label>
        <a>登录遇到问题？</a>
    </form>
</div>

<footer>
    <p>Copyright © 2024 leisureweb 保留所有权利。</p>
</footer>
<!-- 加载动画开始 -->
<div class="loader">
    <p>正在登录</p>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<!-- 加载动画结束 -->
<script type="javascript">
</script>
</body>
</html>